aiodns==3.2.0
aiohappyeyeballs==2.4.6
aiohttp==3.10.11
aiosignal==1.3.2
astroid==3.3.8
attrs==25.1.0
backtrader==1.9.78.123
beautifulsoup4==4.14.2
build==1.3.0
ccxt==4.4.64
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
contourpy==1.3.3
cryptography==44.0.2
curl_cffi==0.13.0
cycler==0.12.1
Cython==3.1.4
dill==0.3.9
fonttools==4.60.1
frozendict==2.4.6
frozenlist==1.5.0
idna==3.10
iniconfig==2.3.0
isort==6.0.0
kiwisolver==1.4.9
matplotlib==3.10.6
mccabe==0.7.0
MetaTrader5==5.0.5260
multidict==6.1.0
multitasking==0.0.12
numpy==2.2.3
packaging==25.0
pandas==2.2.3
peewee==3.18.2
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.6.0
propcache==0.3.0
protobuf==6.32.1
pycares==4.5.0
pycparser==2.22
Pygments==2.19.2
pylint==3.3.4
pyotp==2.9.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.1
qrcode==8.0
requests==2.32.3
setuptools==75.8.2
six==1.17.0
soupsieve==2.8
TA-Lib==0.6.7
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
websockets==15.0.1
yarl==1.18.3
yfinance==0.2.66
